project/maps/
*.osm.pbf
*.json
*.txt
*.tsp
*.par
*.toc
*.synctex.gz
*.out
*.log
*.fls
*.fdb_latexmk
*.aux
*.sty
*.bst
*.bbl
*.blg

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
